*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  .webpage{
    display: flex;
    position: relative;
  }
  
  .webpage .listtonav {
    position: fixed;
    width: 20%;
    height: 100%;
    padding: 5% ;
    background-color: chocolate;
  }

  .webpage .listtonav .extra {
    color:black;
    margin-top: 120%;
    margin-left: 60%;
  }   

  .webpage .listtonav .extra h3{
    text-transform: uppercase;
  }


  .webpage .listtonav .extra li {
    color:black;
  }
  
  .webpage .maincontent  {
    position: absolute;
    margin-left: 20%;
    height: 100%; 
    width: 100%;
    padding: 5% ;
    padding-right: 30%;
    background-color:whitesmoke;
  }
  
  .webpage .maincontent h2 {
    font-family: Verdana;
    color: cadetblue;
  }
  
  .webpage .maincontent .intro {
    font-style: oblique;
    font-display:unset;
  }
  
  .webpage .maincontent .dreams{
    font-family: Georgia;
    border: 2px solid cadetblue;
  }
  
  .webpage .maincontent ol, ul {
   padding-left: 5%;
  }
    
  .webpage .listtonav .image{
    top: 5%;
    left: 5%;
    position:fixed;
  }
  .webpage .listtonav .image .smaller-image {
      width:60%;
      border-color: whitesmoke;
      border-width: 5%;
      border-style: solid;
      border-radius: 80%;  
  }
  
  
    