*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.webpage{
  display: flex;
  position: relative;
}

.webpage .listtonav {
  padding-left: 5%;
  padding-top: 5%;
}

.webpage .listtonav .extra {
  color:black;
  margin-top: 20%;

}  

.webpage .listtonav .languages {
  color:black;
  margin-top: 20%;
}  

.webpage .listtonav h4{
  text-transform: uppercase;
}


.webpage .listtonav li {
  color:black;
}


.webpage .maincontent  {
  padding-left: 5%;
  padding-top: 5%;
}

.webpage .maincontent h2 {
  font-family: Verdana;
  color: cadetblue;
}

.webpage .maincontent .intro {
  font-style: oblique;
  font-display:unset;
}

.webpage .maincontent .dreams{
  font-family: Georgia;
  border: 2px solid cadetblue;
}

.webpage .maincontent ol, ul {
 padding-left: 5%;
}
  
.webpage .listtonav .image{
  margin-left: 5%;
  margin-top: 5%;
}
.webpage .listtonav .image .smaller-image {
    width:80%;
    border-color: whitesmoke;
    border-width: 5%;
    border-style: solid;
    border-radius: 80%;  
}